{% load staticfiles %}
<div class="card">
    <div class="image">
        <img src="{{ advertise.advertiseimage_set.first.image.url }}">
    </div>
    <div class="content">
        <a class="header" href="{% url 'advertise:detail' advertise.id %}">{{ advertise.title }}</a>
        {% if advertise.release_year %}
            <div class="meta">
                <span class="date">{{ advertise.release_year }}</span>
            </div>
        {% endif %}
    </div>
    {# cart ui button add to cart #}
    {% block card_section %}
        {% if advertise not in request.user.cart.advertises.all and request.user.is_authenticated %}
            <div class="extra content">
                <form method="post" action="{% url 'carts:add_to_cart' %}">
                    {% csrf_token %}
                    <input type="hidden" name="ad_id" value="{{ advertise.id }}">
                    <button class="ui small icon button" type="submit" title="اضافه کردن به سبد خرید">
                        <i class="shopping bag icon"></i>
                    </button>
                </form>
            </div>
        {% endif %}

    {% endblock %}
    {# end cart ui button #}
</div>