{% load staticfiles %}
<div class="card">
    <div class="blurring dimmable image">
        <div class="ui dimmer">
            <div class="content">
                <div class="center">
                    <div class="ui inverted button">نمایش آگهی</div>
                </div>
            </div>
        </div>
        <img src="{% static '/advertise/images/jozve.jpg' %}">
    </div>
    <div class="content">
        <a class="header" href="{% url 'advertise:detail' advertise.id %}">{{ advertise.title }}</a>
        <div class="meta">
            {% if advertise.release_year %}
            <span class="date">{{ advertise.release_year }}</span>
            {% endif %}
        </div>


    </div>
    <div class="extra content">
        {# cart ui button add to cart #}
    {% if advertise not in request.user.cart.advertises.all and request.user.is_authenticated %}
    <form method="post" action="{% url 'carts:add_to_cart' %}">{% csrf_token %}
        <input type="hidden" name="ad_id" value="{{ advertise.id }}">
        <button type="submit">add to cart</button>
    </form>
    {% endif %}
    {# end cart ui button #}
    </div>
</div>