<div class="ui vertical footer segment" id="footer">
    <div class="ui center aligned container">
        <div class="ui stackable divided grid">
            <div class="three wide column">
                <h4 class="ui  header">خدمات</h4>
                <div class="ui  link list">
                    <a href="#" class="item">فروش کتاب</a>
                    <a href="#" class="item">خرید کتاب</a>
                    <a href="#" class="item">آگهی جزوه</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui header">ارتباط با ما</h4>
                <div class="ui  link list">
                    <a href="#" class="item">بلاگ</a>
                    <a href="#" class="item">تماس با ما</a>
                    <a href="#" class="item">درباره ما</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui  header">قوانین</h4>
                <div class="ui link list">
                    <a href="#" class="item">شرایط استفاده</a>
                    <a href="#" class="item">قوانین و مقررات</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui  header">اشتراک خبرنامه</h4>
                <div class="ui form">
                    <form role="form" style="margin: 0 auto; max-width: 60%">
                        <div class="ui inline fields">
                            <div class="field">
                                <input type="email" placeholder="E-mail" style="direction: ltr">
                            </div>
                            <div class="field">
                                <button type="button" class="ui blue button">عضویت</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>