{% extends 'amoo-jozve-foroosh/base.html' %}{% load semanticui %}{% load i18n %}

{% block body %}
<div class="ui text container" style="margin: 30px;">
    {% for error in errors %}
    <p>{{ error }}</p>
    {% endfor %}


    <div class="ui attached message">
        <div class="header">
            خوش آمدید
        </div>
    </div>
    <form class="ui form attached fluid segment" role="form" method="post" action="{% url 'profiles:login' %}">
    {% csrf_token %}
    {{ form|semanticui_form }}

    <input type="submit" class="ui blue button" value="{% trans 'Login' %}">
    <input type="hidden" name="next" value="{{ next }}">
    </form>

    <div class="ui bottom attached warning message">
        <a href="{% url 'password_reset' %}">رمز عبور را فراموش کرده اید؟</a>
    </div>
</div>

{% endblock %}