{% extends 'amoo-jozve-foroosh/base.html' %}{% load semanticui %}{% load i18n %}
{% block body %}
<div class="ui text container" style="margin: 30px;">
    <div class="ui attached message">
        <div class="header">
            رمز عبور جدید را وارد کنید
        </div>
    </div>
    <form class="ui form attached fluid segment" role="form" method="POST">
        {% csrf_token %}
        {{ form|semanticui_form }}
        <input class="ui blue button" type="submit" value="{% trans 'Ok' %}">
    </form>
</div>
<script>
    $(document).ready(function () {
        $('.ui.form').form({
            inline: true,
            fields: {
                new_password1: {
                    identifier: 'new_password1',
                    rules: [
                        {
                            type: 'empty',
                            prompt: 'گذرواژه را وارد کنید'
                        },
                        {
                            type: 'length[8]',
                            prompt: 'گذرواژه حداقل باید دارای ۸ کاراکتر باشد'
                        }
                    ]
                },
                new_password2: {
                    identifier: 'new_password2',
                    rules: [
                        {
                            type: 'empty',
                            prompt: 'گذرواژه را تکرار کنید'
                        },
                        {
                            type: 'match[new_password1]',
                            prompt: 'گذرواژه همخوانی ندارد'
                        }
                    ]
                }
            }
        });
    });
</script>
{% endblock body %}