{% extends 'amoo-jozve-foroosh/base.html' %}{% load semanticui %}{% load i18n %}
{% block body %}
<div class="ui text container" style="margin: 30px;">
    <div class="ui attached message">
        <div class="header">
            رمز عبور خود را فراموش کرده اید؟
        </div>
        <p>آدرس ایمیل خود را وارد کنید تا دستورات لازم را به آن ارسال کنیم.</p>
    </div>

    <form class="ui form attached fluid segment" role="form" method="POST">
        {% csrf_token %}
        {{ form|semanticui_form}}
        <input class="ui blue button" type="submit" value="{% trans 'Send' %}">
    </form>
</div>
<script>

    // ready event
    readyV = function () {

        // selector cache
        var
            $form = $('.ui.form'),
            // alias
            handler
        ;

        // event handlers
        handler = {};


        $.fn.form.settings.defaults = {
            email: {
                identifier: 'email',
                rules: [
                    {
                        type: 'empty',
                        prompt: 'ایمیل را وارد کنید'
                    },
                    {
                        type: 'regExp',
                        value: /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/,
                        prompt: 'یک ایمیل معتبر وارد کنید'
                    }
                ]
            }
        };


        $form
            .form({
                inline: true,
                on: 'blur'
            })
        ;

    };
    // attach ready event
    $(document)
        .ready(readyV)
    ;
</script>
{% endblock body %}