<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Profile</title>
    <link
            rel="stylesheet"
            href="https://cdn.rtlcss.com/semantic-ui/2.4.1/semantic.rtl.min.css"
            integrity="sha384-yXUIpeQfH3cuk6u6Mwu8uyJXB2R3UOLvcha1343UCMA2TA7lQ14BFmrudI6LAP8A"
            crossorigin="anonymous">
    <style>
        .ui.submitBtn {
            margin-bottom: 2em;
            margin-top: 2em;
        }
        .ui.profTab {
            margin: 0;
            padding: 0;
        }
        .iconBackground {
            background-color: #F8F8F8;
            border-bottom: 1px solid #00B5AD;
            height: 10em;
            margin: 0;
        }
    </style>
</head>

<body dir="rtl" style="background-color: #EEEEEE">
    <div class="ui stackable mobile grid container" style="margin-top: 3em">
        <div class="four wide column">
                <div class="ui vertical large menu">
                    <a class="pink item active" data-tab="userInfo">
                        اطلاعات کاربری
                        <i class="ui user outline icon" style="float: right; margin-left: 1em; margin-right: 0"></i>
                    </a>
                    <a class="pink item" data-tab="userAdvertises">
                        <i class="ui file alternate outline icon" style="float: right; margin-left: 1em; margin-right: 0"></i>
                        آگهی های من
                    </a>
                    <a class="pink item" data-tab="resetPass">
                        <i class="ui key icon" style="float: right; margin-left: 1em; margin-right: 0"></i>
                        تغییر رمز عبور
                    </a>
                </div>
            </div>
        <div class="twelve wide column">
            <div class="ui active transition fade in tab center aligned segment profTab" data-tab="userInfo">
                <div class="iconBackground"></div>
                <i class="teal circular inverted massive user icon" style="margin-top: -1em"></i>
                <h3 class="centered" style="color: dimgrey">اطلاعات کاربری</h3>
                <div class="ui divider" style="margin-bottom: 3em;margin-top: 5em"></div>
                <div class="ui form" style="margin-left: 5em; margin-right: 5em">
                    <div class="two fields">
                        <div class="field">
                            <div class="ui left icon input">
                                <input type="text" placeholder="نام">
                                <i class="user teal icon"></i>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <input type="text" placeholder="نام خانوادگی">
                                <i class="user circle teal icon"></i>
                            </div>
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="field">
                            <div class="ui left icon input">
                                <input type="text" placeholder="شماره تماس">
                                <i class="phone green icon"></i>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <input type="text" placeholder="ایمیل">
                                <i class="mail yellow icon"></i>
                            </div>
                        </div>
                    </div>
                    <button class="ui positive button submitBtn" type="submit">ثبت تغییرات</button>
                </div>
            </div>
            <div class="ui transition fade in tab center aligned segment profTab" data-tab="userAdvertises">
                <div class="iconBackground"></div>
                <i class="teal inverted circular massive file alternate outline icon" style="margin-top: -1em"></i>
                <h3 style="color: dimgrey">آگهی های من</h3>
                <div class="ui divider" style="margin-bottom: 3em;margin-top: 5em"></div>
            </div>
            <div class="ui transition fade in tab center aligned segment profTab" data-tab="resetPass">
                <div class="iconBackground"></div>
                <i class="teal inverted circular massive key icon" style="margin-top: -1em"></i>
                <h3 style="color: dimgrey">تغییر رمز عبور</h3>
                <div class="ui divider" style="margin-bottom: 3em;margin-top: 5em"></div>
                <form class="ui form" style="margin-left: 15em; margin-right: 15em">
                    <div class="field">
                        <label style="font-size: 1em">رمز عبور فعلی</label>
                        <input id="pervPass" type="password" style="text-align: center">
                    </div>
                    <div class="field">
                        <label style="font-size: 1em">رمز عبور جدید</label>
                        <input id="newPass" type="password" style="text-align: center">
                    </div>
                    <div class="field">
                        <label style="font-size: 1em">تکرار رمز عبور جدید</label>
                        <input id="newPassRepeat" type="password" style="text-align: center">
                    </div>
                    <button class="ui positive button submitBtn" type="submit">ثبت تغییرات</button>
                </form>
            </div>
        </div>
    </div>

    <script src="jquery.min.js"></script>
    <script
            src="https://cdn.rtlcss.com/semantic-ui/2.4.1/semantic.min.js"
            integrity="sha384-6urqf2sgCGDfIXcoxTUOVIoQV+jFr/Zuc4O2wCRS6Rnd8w0OJ17C4Oo3PuXu8ZtF"
            crossorigin="anonymous"></script>
    <script>
        $('.menu .item').tab();
    </script>
</body>

</html>