{% load staticfiles %}
<div class="ui raised very container segment">
    <div class="ui grid">
        <div class="one wide column middle aligned">
            <form method="post" action="{% url 'carts:remove_from_cart' %}">{% csrf_token %}
                <input type="hidden" name="ad_id" value="{{ advertise.id }}">
                <button class="circular ui icon button ">
                    <i class="icon remove "></i>
                </button>
            </form>
        </div>
        <div class="three wide column">
            <div class="ui small image">
                <img src="{% static '/advertise/images/jozve.jpg' %}">
            </div>
        </div>
        <div class="eight wide column">
            <div class="ui medium header">
                {{ advertise.title }}
                <div class="sub header">
                    {%if advertise.publisher %}
                    {{ advertise.publisher }}
                    {%endif%}
                </div>
            </div>
            <div class="content">

                <p>{{ advertise.description }}</p>
            </div>
        </div>
        <div class="four wide column middle aligned">
            <p>{{ advertise.price }} تومان</p>
        </div>
    </div>
</div>