<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Advertise Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.js"></script>
    <style>
        body {
            padding-top: 56px;
            -webkit-font-smoothing: antialiased;
            -moz-font-smoothing: grayscale;
        }
    </style>
</head>
<body>
    <div class="ui container">
        <div class="ui top fixed borderless huge inverted menu">
            <a class="item">
                <button class="ui red button">
                    ثبت آگهی
                </button>
            </a>
            <a class="item">
                صفحه اصلی
            </a>
            <a class="item" style="right: 0">
                درباره ما
            </a>
            <a class="item">
                تماس با ما
            </a>
        </div>
        <div class="ui stackable two column grid container">
            <div class="ui row">
                <div class="ui column">
                    <div class="ui container">
                        <img id="productImage" class="ui image" src="jozve.jpg" alt="Product Image">
                    </div>
                </div>
                <div class="ui column">
                    <div class="ui stackable one column grid container">
                        <div class="ui row">
                            <div class="ui right aligned column">
                                <h1 id="productName" class="ui header" style="text-align: right;">اسم کالا</h1>
                            </div>
                        </div>
                        <div class="ui row">
                            <div class="ui right aligned column">
                                <button id="showInfoBtn" onclick="showSellerInfo()" class="ui red button" style="float: right;">دریافت اطلاعات فروشنده</button>
                            </div>
                        </div>
                        <div id="sellerInfo" class="ui row" style="display: none;">
                            <div class="ui right aligned column">
                                <div class="ui container">
                                    <div class="ui items" style="font-size: 1.25em">
                                        <div class="item" style="border-bottom: dimgrey 1px solid; padding-bottom: 10px">
                                            <div class="middle aligned content">
                                                <div class="ui large right floated span">
                                                    تلفن
                                                </div>
                                                <div id="sellerNumber" class="ui large left floated span" style="color: darkred;">
                                                    09360009999
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ui row">
                            <div class="ui right aligned column">
                                <div class="ui items" style="font-size: 1.25em">
                                    <div class="item" style="border-bottom: dimgrey 1px solid; padding-bottom: 10px">
                                        <div class="middle aligned content">
                                            <div class="ui large right floated span">
                                                رشته تحصیلی
                                            </div>
                                            <div id="major" class="ui left floated span">
                                                نام رشته
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item" style="border-bottom: dimgrey 1px solid; padding-bottom: 10px">
                                        <div class="middle aligned content">
                                            <div class="ui large right floated span">
                                                دانشگاه
                                            </div>
                                            <div id="uniName" class="ui left floated span">
                                                نام دانشگاه
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item" style="border-bottom: dimgrey 1px solid; padding-bottom: 10px">
                                        <div class="middle aligned content">
                                            <div class="ui large right floated span">
                                                محل
                                            </div>
                                            <div id="location" class="ui left floated span">
                                                تهران نارمک
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item" style="border-bottom: dimgrey 1px solid; padding-bottom: 10px">
                                        <div class="middle aligned content">
                                            <div class="ui large right floated span">
                                                قیمت
                                            </div>
                                            <div id="cost" class="ui left floated span">
                                                ۲۰۰۰۰ تومان
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="ui row">
                            <div class="ui right aligned column">
                                <p id="details" style="text-align: right; font-size: 1.25em">توضیحات <br>مربوط<br> به کالا</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function showSellerInfo() {
            document.getElementById("sellerInfo").style.display = "block";
            document.getElementById("showInfoBtn").disable = true;
        }
    </script>
</body>
</html>