<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
</head>
<body>
    <div class="ui sixteen column centered grid">
        <div class="eight wide column">
            <div class="ui active transition fade in tab segment" data-tab="userInfo" style="margin: 0">
                <div class="ui center aligned container">
                    <i class="teal massive user outline icon"></i>
                    <h3>اطلاعات کاربری</h3>
                </div>
                <div class="ui divider"></div>
                <div class="ui eight column center aligned grid">
                    <div class="ui row">
                        <div class="six wide right aligned column">
                            <div class="ui segment">
                                <h4 id="lastName">
                                    نام خانوادگی
                                    <i class="purple user outline circle icon" style="margin-left: 0.75em"></i>
                                </h4>
                            </div>
                        </div>
                        <div class="ui six wide right aligned column">
                            <div class="ui segment">
                                <h4 id="name">
                                    نام
                                    <i class="pink user outline icon" style="margin-left: 0.75em"></i>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="ui row">
                        <div class="ui six wide right aligned column">
                            <div class="ui segment">
                                <h4 id="phoneNumber">
                                    شماره تماس
                                    <i class="green phone icon" style="margin-left: 0.75em"></i>
                                </h4>
                            </div>
                        </div>
                        <div class="ui six wide right aligned column">
                            <div class="ui segment">
                                <h4 id="emailAddress">
                                    ایمیل
                                    <i class="yellow mail icon" style="margin-left: 0.75em"></i>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui transition fade in tab segment" data-tab="userAdvertises" style="margin: 0;">
                <div class="ui center aligned container">
                    <i class="teal massive file alternate outline icon"></i>
                    <h3>آگهی های من</h3>
                </div>
                <div class="ui divider"></div>

            </div>
            <div class="ui transition fade in tab segment" data-tab="resetPass" style="margin: 0">
                <div class="ui center aligned container">
                    <i class="teal massive key icon"></i>
                    <h3>تغییر رمز عبور</h3>
                </div>
                <div class="ui divider"></div>
                <div class="ui center aligned grid">
                    <div class="ui row">
                        <div class="ui column">
                            <div class="ui input">
                                <input id="pervPass" type="password" placeholder="رمز عبور فعلی" style="text-align: center">
                            </div>
                        </div>
                    </div>
                    <div class="ui row">
                        <div class="ui column">
                            <div class="ui input">
                                <input id="newPass" type="password" placeholder="رمز عبور جدید" style="text-align: center">
                            </div>
                        </div>
                    </div>
                    <div class="ui row">
                        <div class="ui column">
                            <div class="ui input">
                                <input id="newPassRepeat" type="password" placeholder="تکرار رمز عبور جدید" style="text-align: center">
                            </div>
                        </div>
                    </div>
                    <div class="ui row">
                        <div class="ui column">
                            <div class="ui red button" onclick="btnPressed()">ثبت تغییرات</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="two wide right aligned column">
            <div class="ui vertical menu" id="menu">
                <a class="item active" data-tab="userInfo">
                    <i class="user outline icon"></i>
                    اطلاعات کاربری
                </a>
                <a class="item" data-tab="userAdvertises">
                    <i class="file alternate outline icon"></i>
                    آگهی های من
                </a>
                <a class="item" data-tab="resetPass">
                    <i class="key icon"></i>
                    تغییر رمز عبور
                </a>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>
    <script>
        $(function() {
            $("body").click(function(e) {
                if (e.target.id === "menu" || $(e.target).parents("#menu").length)
                {
                    var children = document.getElementById("menu").childNodes;
                    for (var i=0; i < children.length; i++)
                    {
                        var child = children[i];
                        if (child.classList !== undefined)
                        {
                            child.classList.remove("active")
                            child.fontcolor("black")
                        }
                    }
                    e.target.classList.add("active")
                }
            });
        })
    </script>
    <script>
        $('.menu .item').tab();
    </script>
    <script>
        function btnPressed()
        {

        }
    </script>
</body>
</html>