{% load staticfiles %}{% load i18n %}
<div class="ui borderless menu">
    <div class="ui fluid container">
        {% block logo %}
            <a href="{% url 'advertise:list' %}" class="item">
                <img src="{% static 'advertise/images/logo.png' %}"/>
            </a>
        {% endblock %}

        {% block menu-right %}{% endblock %}

        <div class="right menu">
            {% block menu-left %}{% endblock menu-left %}
            <div class="item">
                <a href="{% url 'advertise:add_advertise' %}" class="ui teal button">
                    {% trans 'New advertise' %}
                </a>
            </div>
        </div>
    </div>
</div>
